<header>
  <mat-toolbar
    class="header"
    [ngClass]="{ 'header-hidden': isHidden, background: background }"
  >
    <div class="container header-container">
      <h2>portfolio</h2>

      <div class="effect">
        <mat-icon
          svgIcon="assets/icons/bars.svg"
          (click)="menuToggle()"
        ></mat-icon>
      </div>
      <nav class="menu">
        <a href="#">Home</a>
        <a href="#Services">Serviços</a>
        <a href="#Projects">Projetos</a>
        <a href="#Contact">Contato</a>
      </nav>
    </div>
  </mat-toolbar>
</header>
<mat-drawer-container
  class="drawer-container"
  [hasBackdrop]="true"
  [ngClass]="{ opened: isMenuOpen }"
>
  <mat-drawer [(opened)]="isMenuOpen" [mode]="'push'">
    <div class="content">
      <a href="#" (click)="menuToggle()">Home</a>
      <a href="#Services" (click)="menuToggle()">Serviços</a>
      <a href="#Projects" (click)="menuToggle()">Projetos</a>
      <a href="#Contact" (click)="menuToggle()">Contato</a>
    </div>
  </mat-drawer>
</mat-drawer-container>
