<app-header></app-header>

<main>
  <app-banner></app-banner>

  <app-about></app-about>

  <app-knowledge></app-knowledge>

  <app-experiences></app-experiences>

  <app-service-section></app-service-section>

  @defer(on viewport){
  <app-projects></app-projects>
  } @placeholder {
  <section>
    <h3>Carregando todos os projetos desenvolvidos...</h3>
  </section>
  } @error {
  <section>
    <h2>Ocorreu um erro no download do componente, tente novamente</h2>
  </section>
  }
  <app-contact></app-contact>
</main>
