/* :host {
    section {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 20px 0;
        text-align: center;
    }
}

section {
    h2 {
        text-align: center;
        margin-bottom: 32px;
        text-transform: uppercase;

        color: #313131;
        font-size: 36px;
    }
}

/*$primary-color: #23234bd8;
;
$tertiary-color: #4b39ad;





img {
    max-width: 100%;
}

main {
    
   
    
}

@media (max-width: 768px) {
    .hide-mobile {
        display: none;
    }
}
    */