<app-header></app-header>

<main>
  <section class="banner">
    <div class="container">
      <h1>
        Websites profissionais<br class="hide-mob" />
        <span>de extrema</span> qualidade
      </h1>
      <h3>Soluções Web para tudo que precisar</h3>
      <a href="#" class="button">Saiba mais</a>
    </div>
  </section>
  <section id="services" class="services">
    <div class="container">
      <h2>Services</h2>

      <div class="services-grid">
        <div class="service">
          <figure class="img-box">
            <img
              src="assets/img/service-1.jpg"
              alt=" Serviço de Websites"
              class="img"
            />
          </figure>
          <div class="content">
            <h3>Websites</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="service">
          <figure class="img-box">
            <img src="../../assets/img/service-2.jpg" alt="" class="img" />
          </figure>
          <div class="content">
            <h3>Apps</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>

        <div class="service">
          <figure class="img-box">
            <img src="../../assets/img/service-1.jpg" alt="" class="img" />
          </figure>
          <div class="content">
            <h3>Games</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>

        <div class="service">
          <figure class="img-box">
            <img src="../../assets/img/service-4.jpg" alt="" class="img" />
          </figure>
          <div class="content">
            <h3>Mentoring</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="projects" id="projects">
    <div class="container">
      <h2>Projects</h2>

      <div class="projects-grid">
        <div class="project">
          <div class="content">
            <h3>Project 1</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
              incidunt sint eum earum, deleniti,
            </p>
            <a href="#" class="button">Learn more</a>
          </div>
        </div>
        <div class="project">
          <div class="content">
            <h3>Project 2</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
              incidunt sint eum earum, deleniti,
            </p>
            <a href="#" class="button">Learn more</a>
          </div>
        </div>
        <div class="project">
          <div class="content">
            <h3>Project 3</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
              incidunt sint eum earum, deleniti,
            </p>
            <a href="#" class="button">Learn more</a>
          </div>
        </div>
        <div class="project">
          <div class="content">
            <h3>Project 4</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
              incidunt sint eum earum, deleniti,
            </p>
            <a href="#" class="button">Learn more</a>
          </div>
        </div>
        <div class="project">
          <div class="content">
            <h3>Project 5</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
              incidunt sint eum earum, deleniti,
            </p>
            <a href="#" class="button">Learn more</a>
          </div>
        </div>
        <div class="project">
          <div class="content">
            <h3>Project 6</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
              incidunt sint eum earum, deleniti,
            </p>
            <a href="#" class="button">Learn more</a>
          </div>
        </div>
      </div>

      <div class="center">
        <a href="#" class="button"> View More</a>
      </div>
    </div>
  </section>

  <section class="contact">
    <div class="container">
      <h2>Contact</h2>
      <form action="">
        <div class="form-grid">
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Insira o seu nome."
            class="form-element"
          />
          <input
            type="text"
            name="email"
            id="email"
            placeholder="Insira o seu melhor e-mail."
            class="form-element"
          />
          <textarea
            name="message"
            id="message"
            placeholder="Nos mande uma mensagem."
            class="form-area"
          ></textarea>
        </div>
        <div class="right-align">
          <input type="submit" value="Send Message" class="button" />
        </div>
      </form>
    </div>
  </section>
</main>
