<section class="contact" id="Contact">
  <div class="container">
    <h2>Contato</h2>
    <form action="">
      <div class="form-grid">
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Insira o seu nome."
          class="form-element"
        />
        <input
          type="text"
          name="email"
          id="email"
          placeholder="Insira o seu melhor e-mail."
          class="form-element"
        />
        <textarea
          name="message"
          id="message"
          placeholder="Nos mande uma mensagem."
          class="form-area"
        ></textarea>
      </div>
      <div class="right-align">
        <input type="submit" value="Enviar" class="button" />
      </div>
    </form>
  </div>
</section>
