:root {
    --primary: #23234bd8;
    --primary-010: #4343c5d8;

    --secondary: #097fbd;
    --secondary-010: #06374e;

    --secondary-011: #7baee9;

    --tertiary: #4b39ad;
    --tertiary-010: #241a5c;

    --white: #fff;

    --black: #10101a;
    --black-010: #2a2a30;

    --grey: #9b9ba0;
    --grey-010: #eeeeee;
}