/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', ;
}

$primary-color: #23234bd8;
$secundary-color: #7baee9;
$tertiary-color: #4b39ad;