<section id="Services" class="services">
  <div class="container">
    <h2>Serviços</h2>

    <div class="services-grid">
      <div class="service">
        <figure class="img-box">
          <img
            src="assets/img/service-1.jpg"
            alt=" Serviço de Websites"
            class="img"
          />
        </figure>
        <div class="content">
          <h3>Websites</h3>
          <p>
            Elaboro sites em HTML5 e CSS3 mantendo as boas práticas de SEO(Seach
            Engine Optimization) e telas 100% responsivas.
          </p>
        </div>
      </div>
      <div class="service">
        <figure class="img-box">
          <img src="assets/img/service-2.jpg" alt="" class="img" />
        </figure>
        <div class="content">
          <h3>Apps</h3>
          <p>Criação de aplicativos mobile multiplataformas com Flutter.</p>
        </div>
      </div>

      <div class="service">
        <figure class="img-box">
          <img src="assets/img/service-3.jpg" alt="" class="img" />
        </figure>
        <div class="content">
          <h3>APIs</h3>
          <p>
            No Server-Side, Utilizo .NET ou Python para criação de APIs do tipo
            Restfull.
          </p>
        </div>
      </div>

      <div class="service">
        <figure class="img-box">
          <img src="assets/img/service-4.jpg" alt="" class="img" />
        </figure>
        <div class="content">
          <h3>App Web</h3>
          <p>Sites completamente Dinẫmicos com Django, ASP.NET e Angular.</p>
        </div>
      </div>
    </div>
  </div>
</section>
