<section id="services" class="services">
  <div class="container">
    <h2>Services</h2>

    <div class="services-grid">
      <div class="service">
        <figure class="img-box">
          <img
            src="assets/img/service-1.jpg"
            alt=" Serviço de Websites"
            class="img"
          />
        </figure>
        <div class="content">
          <h3>Websites</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="service">
        <figure class="img-box">
          <img src="assets/img/service-2.jpg" alt="" class="img" />
        </figure>
        <div class="content">
          <h3>Apps</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>

      <div class="service">
        <figure class="img-box">
          <img src="assets/img/service-3.jpg" alt="" class="img" />
        </figure>
        <div class="content">
          <h3>Games</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>

      <div class="service">
        <figure class="img-box">
          <img src="assets/img/service-4.jpg" alt="" class="img" />
        </figure>
        <div class="content">
          <h3>Mentoring</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  </div>
</section>
