 .projects {
     padding-top: 64px;
     padding-bottom: 64px;

     .projects-grid {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         gap: 16px;
         margin-bottom: 32px;

         @media (max-width: 1024px) {
             grid-template-columns: repeat(2, 1fr);
         }


         @media (max-width: 768px) {
             grid-template-columns: repeat(1, 1fr);
         }

         .project {
             //background-image: url('../../assets/img/project-img.jpg');
             border-radius: 16px;
             overflow: hidden;

             &:nth-child(2) {
                 //background-image: url('../../assets/img/service-1.jpg');
             }

             ;

             .content {
                 opacity: 0;
                 color: #fff;
                 padding: 16px;
                 background-color: var(--primary);
                 transition: 0.4s;

                 h3 {
                     font-size: 32px;
                     margin-bottom: 16px;

                     @media (max-width: 1024px) {
                         font-size: 28px;
                     }
                 }

                 p {
                     font-size: 18px;
                     margin-bottom: 16px;

                     @media (max-width: 1024px) {
                         font-size: 16px;
                     }
                 }

             }

             &:hover {
                 .content {
                     opacity: 1;

                 }
             }
         }

     }

     .center {
         text-align: center;
     }
 }