<section class="projects" id="projects">
  <div class="container">
    <h2>Projetos desenvolvidos</h2>

    <div class="projects-grid">
      <div class="project">
        <div class="content">
          <h3>Project 1</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
            incidunt sint eum earum, deleniti,
          </p>
          <a href="#" class="button">Learn more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="center">
    <a href="#" class="button"> View More</a>
  </div>
</section>
